
<!--Header Starts-->
<div class="panel-header" id="mfe-credit-lender-new-dialog-heading">
  Employee Form
</div>
<!--Header Ends-->

<!--Content Starts-->
<div class="dialog-body custom-scroll p-r-l-40" [formGroup]="employeeFormGroup">
  
  <div class="col-md-12 p-r-l-0 ui-form-field">
    <label class="ui-label-select">Name</label>
    <mat-form-field>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-error *ngIf="employeeFormGroup.controls.name.touched &&
      employeeFormGroup?.controls.name?.errors?.required"
      class="error-validation-msg"> Name is required </mat-error>
  </div>

  <div class="col-md-12 p-r-l-0 ui-form-field">
    <label class="ui-label-select">Employee ID</label>
    <mat-form-field>
      <input formControlName="employeeId" matInput>
    </mat-form-field>
    <mat-error *ngIf="employeeFormGroup.controls.employeeId.touched &&
      employeeFormGroup?.controls.employeeId?.errors?.required"
      class="error-validation-msg"> Employee ID is required </mat-error>
  </div>

  <div class="col-md-12 p-r-l-0 ui-form-field">
    <label class="ui-label-select">Email ID</label>
    <mat-form-field>
      <input formControlName="emailId" matInput>
    </mat-form-field>
    <mat-error *ngIf="employeeFormGroup.controls.emailId.touched &&
      employeeFormGroup?.controls.emailId?.errors?.required"
      class="error-validation-msg"> Email ID is required </mat-error>
    <mat-error *ngIf="employeeFormGroup.controls.emailId.dirty &&
      !employeeFormGroup?.controls.emailId?.errors?.required &&
      employeeFormGroup?.controls.emailId?.invalid" class="error-validation-msg">
      Email id is invalid </mat-error>
  </div>

  <div class="col-md-12 p-r-l-0 ui-form-field">
    <label class="ui-label-select">
      Department</label>
    <mat-form-field class="tribe-input">
      <select matNativeControl formControlName="department" required>
        <option *ngFor="let item of departments" value={{item}}>{{item}}</option>
      </select>
    </mat-form-field>
  </div>

  <div class="col-md-12 p-r-l-0 ui-form-field">
    <label class="ui-label-select"
      id="mfe-credit-lender-tabs-input-label-tenure-months">Date of
      Joining(DOJ)-
    </label>
    <mat-form-field>
      <input matInput formControlName="doj" (click)="picker.open()"
        [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="employeeFormGroup.controls.doj.touched &&
      employeeFormGroup?.controls.doj?.errors?.required"
      class="error-validation-msg"> DOJ is required </mat-error>
  </div>
</div>
<!--Content Ends-->

<!--Footer Starts-->
<div class="clearfix"></div>
<div class="dialog-footer">
  <div class="footer-btn">
    <button class="dialog-btn-cancel" mat-stroked-button color="accent"
      id="mfe-credit-lender-form-btn-cancel" (click)="clearForm()">CLEAR</button>
    <button class="dialog-btn-cancel" mat-stroked-button color="accent"
      mat-dialog-close
      id="mfe-credit-lender-form-btn-cancel">CANCEL</button>
    <button class="dialog-btn" mat-raised-button color="accent" mat-dialog-close
      (click)="formSubmit()" [disabled]="employeeFormGroup.invalid">SUBMIT</button>
  </div>
</div>
<!--Footer Ends-->