<div class="ui-table-container custom-scroll employee-details-container">
    <div class="add-employees-container">
        <button class="dialog-btn-add" mat-raised-button color="accent"
            (click)="addEmployee()">New Employee</button>
    </div>
    <div class="ui-table-container custom-scroll">
        <table mat-table *ngIf="dataSource.data.length>0" [dataSource]="dataSource.data" class="mat-elevation-z8
            ui-sorting-table" (matSortChange)="sortData($event)" matSort
            matSortDisableClear=true>
            <!-- Date Column -->
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef nowrap>
                </th>
                <td nowrap mat-cell *matCellDef="let
                    element;index as i">
                    <img src="/assets/delete-24px.svg" (click)="deleteRow(i)">
                </td>
            </ng-container>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef nowrap>
                    Name
                </th>
                <td nowrap mat-cell *matCellDef="let
                    element">
                    <span> {{element.name}}</span>
                </td>
            </ng-container>
            <!-- Date Column end -->

            <!-- employee id column start -->
            <ng-container matColumnDef="Employee ID">
                <th mat-header-cell *matHeaderCellDef nowrap>Employee
                    ID
                </th>
                <td nowrap mat-cell
                    *matCellDef="let element">
                    <span> {{element.employeeId}}</span>
                </td>
            </ng-container>
            <!-- employee id column ends -->

            <!-- Department column -->
            <ng-container matColumnDef="Department">
                <th mat-header-cell *matHeaderCellDef nowrap>Department
                </th>
                <td nowrap mat-cell
                    *matCellDef="let element">
                    <span> {{element.department}}</span>
                </td>
            </ng-container>
            <!-- Department column ends-->

            <!-- Email ID column -->
            <ng-container matColumnDef="Email ID">
                <th mat-header-cell *matHeaderCellDef nowrap>Email
                    ID</th>
                <td nowrap mat-cell
                    *matCellDef="let element">
                    <span>{{element.emailId}}</span>
                </td>
            </ng-container>
            <!-- Email id column ends -->

            <!-- DOJ column start -->
            <ng-container matColumnDef="DOJ">
                <th mat-header-cell *matHeaderCellDef nowrap>DOJ
                </th>
                <td nowrap mat-cell
                    *matCellDef="let element">
                    <span> {{element.doj}}</span>
                </td>
            </ng-container>
            <!-- DOJ column end -->

            <tr mat-header-row *matHeaderRowDef="headerConfig"></tr>
            <tr mat-row *matRowDef="let row; columns:
                headerConfig;"></tr>
        </table>
        <div *ngIf="dataSource.data.length==0">No Employee details available  yet</div>
    </div>
</div>