<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h3>
    Saarthi Employee Portal!
  </h3>
  <app-employee-details></app-employee-details>
</div>


<router-outlet></router-outlet>
