@import "~@angular/cdk/overlay-prebuilt.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dialog-body {
    height: 100% !important;
}
.ui-table-container {
    width: 100%;
    /* overflow-x: scroll; */
}


table td{
    text-align: left;
}
.dialog-btn-add {
    float: right;
    height: 50px;
    margin-bottom: 30px;
}
/* ..mat-raised-button:not([class*=mat-elevation-z]){} */
.mat-button-focus-overlay,
.mat-button-ripple.mat-ripple {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
}
.mat-button-focus-overlay {
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.ui-table-container .mat-table {
    box-shadow: none;
}

table.mat-table {
    border-spacing: 0;
}
.ui-table-container table .mat-header-row {
    background: rgba(0, 0, 0, 0.03);
}
tr.mat-header-row {
    height: 56px;
}
tr.mat-row {
    height: 48px;
}
table td {
    text-align: left;
}
.ui-table-container .mat-row:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.01);
}
.dialog-body {
    height: 100% !important;
}

.dialog-btn-add {
    float: right;
    height: 50px;
}
/* ..mat-raised-button:not([class*=mat-elevation-z]){} */
.mat-button-focus-overlay,
.mat-button-ripple.mat-ripple {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
}
.mat-button-focus-overlay {
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.ui-table-container .mat-table {
    box-shadow: none;
}
.ui-table-container table {
    width: 100%;
}
table.mat-table {
    border-spacing: 0;
}
.ui-table-container table .mat-header-row {
    background: rgba(0, 0, 0, 0.03);
}
tr.mat-header-row {
    height: 56px;
}
tr.mat-row {
    height: 48px;
}
table[_ngcontent-c1] td[_ngcontent-c1] {
    text-align: left;
}
.ui-table-container .mat-row:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.01);
}
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.cdk-overlay-container {
    position: fixed;
    z-index: 1000;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
}
.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.32);
}
.cdk-overlay-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0;
}
.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}
.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    outline: 0;
    -webkit-appearance: none;
}
.ui-dialog .mat-dialog-container {
    padding: 0;
    border-radius: 4px;
}
.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}
.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12);
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
}
.ui-dialog .mat-dialog-container .panel-header {
    background: #364cad;
    height: 42px;
    color: #fff;
    box-shadow: none;
    padding: 10px 16px;
    font-weight: 700;
    font-family: lato;
    border-radius: 4px 4px 0 0;
}

.pull-right {
    float: right;
}

.filter-dialog-close {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: -707px -36px;
    cursor: pointer;
}
.sprite-10-mono {
    background-image: url(https://tribe-ui-assets.s3.ap-south-1.amazonaws.com/Icons/Icons-10px.svg);
}
.ui-dialog .mat-dialog-container .dialog-body {
    padding: 10px 15px;
}
.dialog-body {
    height: 100% !important;
}
.ui-form-field {
    height: 67px;
    margin-bottom: 8px;
}
.p-r-l-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@media (min-width: 992px) {
    .col-md-12 {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left;
    }
}
.ui-form-field {
    height: 67px;
    margin-bottom: 8px;
}

.p-r-l-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@media (min-width: 992px) {
    .col-md-12 {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left;
    }
}
.ui-dialog .mat-dialog-container .dialog-body .mat-form-field {
    margin-top: 6px;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
}
.mat-form-field {
    display: block !important;
    font-family: lato !important;
}
.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em;
}
.mat-form-field-wrapper {
    position: relative;
}
.mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 1px;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background: rgba(0, 0, 0, 0.2);
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 1.25em;
}
.mat-form-field-underline {
    position: absolute;
    width: 100%;
    pointer-events: none;
    transform: scaleY(1.0001);
}
.mat-form-field-underline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.mat-form-field-underline {
    bottom: 1.34375em;
}
.mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    height: 1px;
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    opacity: 1;
    transform: scaleX(1);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.1s cubic-bezier(0.25, 0.8, 0.25, 1),
        background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: rgba(0, 0, 0, 0.4);
}
.mat-form-field-appearance-legacy .mat-form-field-ripple {
    top: 0;
    height: 2px;
    overflow: hidden;
}
.mat-form-field-ripple {
    position: absolute;
    left: 0;
    width: 100%;
    transform-origin: 50%;
    transform: scaleX(0.5);
    opacity: 0;
    transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
    margin-top: 0.54166667em;
    top: calc(100% - 1.66666667em);
}

.mat-form-field-subscript-wrapper {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.mat-form-field-subscript-wrapper {
    font-size: 75%;
    margin-top: 0.66666667em;
    top: calc(100% - 1.79166667em);
}
.mat-form-field-hint-wrapper {
    display: flex;
}

.mat-form-field-hint-spacer {
    flex: 1 0 1em;
}
.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.ui-dialog .mat-dialog-container {
    padding: 0;
    border-radius: 4px;
}

.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}
.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12);
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
}
.ui-dialog .mat-dialog-container .panel-header {
    background: #364cad;
    height: 42px;
    color: #fff;
    box-shadow: none;
    padding: 10px 16px;
    font-weight: 700;
    font-family: lato;
    border-radius: 4px 4px 0 0;
}
.sprite-10-mono {
    background-image: url(https://tribe-ui-assets.s3.ap-south-1.amazonaws.com/Icons/Icons-10px.svg);
}

.filter-dialog-close {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: -707px -36px;
    cursor: pointer;
}
.pull-right {
    float: right;
}
.ui-dialog .mat-dialog-container .dialog-body {
    padding: 10px 15px;
}

.dialog-body {
    height: 100% !important;
}
.ui-dialog .dialog-footer {
    margin-bottom: 20px;
}
.ui-dialog .dialog-footer .footer-btn {
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 15px;
}
.ui-dialog .dialog-footer .footer-btn .dialog-btn-cancel {
    padding: 0 30px !important;
    margin-right: 10px;
}

.ui-dialog .dialog-footer .footer-btn .dialog-btn-cancel {
    padding: 0 30px !important;
    margin-right: 10px;
    border: 1px solid #364cad;
}
.ui-dialog .dialog-footer .footer-btn .dialog-btn {
    padding: 0 30px !important;
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    animation-name: cdk-text-field-autofill-end;
}
input.mat-input-element {
    margin-top: -0.0625em;
}
.mat-input-element {
    font: inherit;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    -webkit-appearance: none;
    margin-top: -0.0625em;
}
.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: rgba(0, 0, 0, 0.4);
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    transform: perspective(100px);
    -ms-transform: none;
}
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-empty.mat-form-field-label {
    display: block;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(0, 0, 0, 0.4);
    top: 1.7em !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label,
.mat-form-field-appearance-legacy .mat-hint {
    color: rgba(0, 0, 0, 0.54);
}
.mat-form-field-label {
    position: absolute;
    left: 0;
    font: inherit;
    pointer-events: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform-origin: 0 0;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
        width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: none;
}
.mat-form-field-label-wrapper {
    top: -0.84375em;
    padding-top: 0.84375em;
}
.mat-form-field-label-wrapper {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(0,0,0,.4);
    top: 1.7em!important;
}

.mat-error{
    color: brown;
    margin-top: -17px;
    font-size:14px

}
.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent{
    color: #364cad !important;;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
    padding: 0 !important;
}
.dialog-btn-add[_ngcontent-c1]{
    margin-bottom: 30px;
    background-color:  #364cad !important;
    color: white;

}
.mat-raised-button.mat-accent {
    background-color: #364cad;
}